/*
//
//             _____                    _____                    _____                    _____
//            /\    \                  /\    \                  /\    \                  /\    \
//           /::\____\                /::\    \                /::\    \                /::\    \
//          /:::/    /               /::::\    \              /::::\    \              /::::\    \
//         /:::/    /               /::::::\    \            /::::::\    \            /::::::\    \
//        /:::/    /               /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \
//       /:::/____/               /:::/__\:::\    \        /:::/__\:::\    \        /:::/  \:::\    \
//      /::::\    \              /::::\   \:::\    \      /::::\   \:::\    \      /:::/    \:::\    \
//     /::::::\    \   _____    /::::::\   \:::\    \    /::::::\   \:::\    \    /:::/    / \:::\    \
//    /:::/\:::\    \ /\    \  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\____\  /:::/    /   \:::\    \
//   /:::/  \:::\    /::\____\/:::/__\:::\   \:::\____\/:::/  \:::\   \:::|    |/:::/____/     \:::\____\
//   \::/    \:::\  /:::/    /\:::\   \:::\   \::/    /\::/   |::::\  /:::|____|\:::\    \      \::/    /
//    \/____/ \:::\/:::/    /  \:::\   \:::\   \/____/  \/____|:::::\/:::/    /  \:::\    \      \/____/
//             \::::::/    /    \:::\   \:::\    \            |:::::::::/    /    \:::\    \
//              \::::/    /      \:::\   \:::\____\           |::|\::::/    /      \:::\    \
//              /:::/    /        \:::\   \::/    /           |::| \::/____/        \:::\    \
//             /:::/    /          \:::\   \/____/            |::|  ~|               \:::\    \
//            /:::/    /            \:::\    \                |::|   |                \:::\    \
//           /:::/    /              \:::\____\               \::|   |                 \:::\____\
//           \::/    /                \::/    /                \:|   |                  \::/    /
//            \/____/                  \/____/                  \|___|                   \/____/
//
//
*/
/* ----------------------------------------------------- GLOBAL    ------------------------------------------------------*/
body {
  background-image: url(../images/background.png);
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto Light, Verdana, Tahoma, Arial, Helvetica, sans-serif !important;
}
/* ----------------------------------------------------- HEADER   ------------------------------------------------------*/
/* ----------------------------------------------------- CONTENT  ------------------------------------------------------*/
/* ----------------------------------------------------- FOOTER   ------------------------------------------------------*/
#loading {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
}
#loading .text {
  color: rgba(236, 240, 241, 0.9);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: .3em;
  font-family: Roboto Light, Verdana, Tahoma, Arial, Helvetica, sans-serif !important;
}
#loading::before,
#loading::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background-color: rgba(52, 73, 94, 0.9);
}
#loading .squares {
  margin: 5px 0 15px;
  height: 70px;
  position: relative;
}
#loading .square {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
}
#loading .square.s1 {
  background-color: rgba(44, 62, 80, 0.9);
}
#loading .square.s2 {
  background-color: rgba(52, 73, 94, 0.9);
}
#loading .square.s3 {
  background-color: rgba(127, 140, 141, 0.9);
}
#loading .square.s4 {
  background-color: rgba(236, 240, 241, 0.9);
}
