#terminal-board {
  height: auto;
  .column(24);
  margin-top: 10px;
  background: @color-bg;

  border-top: @color-3 1px solid;
  border-bottom: @color-3 1px solid;
  .terminals {
    .column(24);
    padding: 10px;
  }
  .terminal-term {
    .terminal {height: 200px;}
    visibility: hidden;
    display: none;
    &.active {
      visibility: visible;
      display: block;
    }
  }
  #tabs {
      .column(24);

      border-bottom: @color-3 1px solid;

      span {
        display: inline-block;
        padding: 5px 10px;
        color: @color-2;
        cursor: pointer;
        &.active {
          color: @color-1;
        }
      }
    }
 }
//   .terminal-wrapper {
//     .column(24);
//     .terminal#cff {
//       .column(18);
//       margin-top: 20px;
//     }
//   }
//   .terminal {
//     visibility: hidden;
//     display: none;
//     &.active {
//       visibility: visible;
//       display: block;
//     }
//   }
// }
// #terminals {
//
//   margin-top: 20px;
//   #tabs {
//     background: rgba(17,17,17,0.5);
//     .column(24);
//     &::after {
//       content: "";
//       display: block;
//       width: 100%;
//       height: 1px;
//       background-color: @color-3;
//     }
//     span {
//       display: inline-block;
//       padding: 5px 3px;
//       color: @color-2;
//       cursor: pointer;
//       &.active {
//         color: @color-1;
//       }
//     }
//   }
// }
